$--color-primary: #1890FF !default;
$--color-white: #fff!default;
$--color-success:#66BF16 !default;
$--calendar-weekend-background-color :#efefef !default;
$--border-color-base:#e8eaec !default;
$--calendar-selected-background-color: mix($--color-white, $--color-primary, 90%) !default;
$--calendar-selected-font-color :$--color-primary;
$--color-success-lighter : mix($--color-white, $--color-success, 90%) !default;
$--background-color-darken: #E5E5E5 !default;
$--color-text-placeholder: #999999 !default;

@mixin float($float:left) {
  float: $float;
  display: inline;
}

// clear
@mixin clear {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
    height: 0;
  }
  &:after {
    clear: both;
  }
}
.calendar-pro {
  background-color:#fff;
  width: 100%;
  height: 100%;
  &__title {
    @include clear;
    padding: 12px;
    border-bottom: 1px solid #e8eaec;
  }
  &__title-info {
    @include float;
    color: #17233d;
    font-size: 18px;
  }
  &__tool{
    @include float(right);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    button{
      padding:0 15px;
      border:1px solid #dcdee2;
      color:#515a6e;
      background-color: transparent;
      position: relative;
    }
    button:hover{
      color: #57a3f3;
      background-color: #fff;
      border-color: #57a3f3;
      cursor: pointer;
      z-index: 2;
    }
    button:first-child{
      margin-left: 0px;
    }
    button+button{
      margin-left: -1px;
    }
  }
  &.showWeek{
    .weekend{
      background-color: $--calendar-weekend-background-color;
    }
  }
  &__body {
    table{
      border-collapse:collapse;
      th{
        padding: 10px 0;
        font-weight: normal;
      }
      td{
        position: relative;
        border: 1px solid $--border-color-base;
        width: 300px;
        cursor: pointer;
        &:hover{
          .day-box{
            background-color: $--calendar-selected-background-color;
          }
        }
        .day-box{
          position: relative;
          height: 68px;
          padding: 10px;
          font-size: 14px;
          &.highlighter{
            background-color: $--color-success-lighter;
            .info-date{
              color: $--color-success;
            }
          }
          &.select{
            width: auto;
            background-color: $--calendar-selected-background-color;
            .info-date{
              color:$--calendar-selected-font-color;
            }
          }
          &.disabled{
            cursor: not-allowed;
            background-color: $--background-color-darken;
            color: $--color-text-placeholder;
          }
          &.other-month-day{
            opacity: 0.6;
          }
          &.today{
            outline: 2px solid $--color-primary;
            z-index: 2;
          }
        }
        .info-date{
          font-size: 18px;
          font-weight: bolder;
        }
        .info-festival{
          margin-top: 3px;
          text-align: center;
          font-size:13px;
        }
        .info-lunar{
          position: absolute;
          bottom: 10px;
          right: 10px;
        }
        .info-term{
          position: absolute;
          bottom: 10px;
          left: 10px;
          font-size:14px;
        }

      }
    }
  }
}
